*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top:0;
    z-index:10;

}
.navbar
{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

/*--------- BANNER CODE -------------*/
#banner
{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: #fff;
    padding-top: 5%;

}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top:100 px ;
}
.title
{
    font-size:x-large;
    color: #000;
    height: 50 px;
    width: 100 px;
    margin-top: 1000 px;
    margin-left: auto;
}
.about
{
    
}