<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Brain Drain or Gain</title>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjEEQjNy6R4J5FQRL13J-5iWoX1zNaQYU&callback=initMap&libraries=&v=weekly"
        defer>
        </script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
</head>

<body>
    <input onclick="deleteMarkers();" type="button" value="Delete Markers" />
    <input onclick="createRoute();" type="button" value="Create Route" />

    <div id="floating-panel">
        <b>Start: </b>
        <select id="start">
            <option value="Broadway, NY">Cypress</option>
            <option value="houston, tx">Downtown</option>
            <option value="Humble, tx">Humble</option>
            <option value="Katy, tx">Katy</option>
            <option value="Kingwood, TX">Kingwood</option>
            <option value="Missouri City, tx">Missouri</option>
            <option value="Richmond, TX">Richmond</option>
            <option value="Spring, TX">Spring</option>
            <option value="Sugarland, TX">Sugarland</option>
            <option value="Tomball, TX">Tomball</option>
        </select>
        <b>End: </b>
        <select id="end">
            <option value="Cypress, TX">Cypress</option>
            <option value="240 Street, NY">Downtown</option>
            <option value="Humble, tx">Humble</option>
            <option value="Katy, tx">Katy</option>
            <option value="Kingwood, TX">Kingwood</option>
            <option value="Missouri City, tx">Missouri</option>
            <option value="Richmond, TX">Richmond</option>
            <option value="Spring, TX">Spring</option>
            <option value="Sugarland, TX">Sugarland</option>
            <option value="Tomball, TX">Tomball</option>
        </select>
    </div>



    <!--The div element for the map -->
    <div id="map"></div>

    <script type="text/javascript" src="static/js/config.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
    <script type="text/javascript" src="static/js/routeLogic.js"></script>


</body>

</html>